* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #181f32;
  --gray: #647299;
  --red: #d13f30;
  --dark-gray: #3b4664;
  --violet: #252d44;
  --white: #fff;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: var(--dark-gray);
}

.calculator {
  width: 30%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}

.display-screen {
  height: 20%;
  width: 100%;
}

.user-input {
  background-color: var(--dark-blue);
  color: white;
  border: none;
  border-radius: 16px;
  padding: 12px;
  height: 100%;
  width: 100%;
  text-align: right;
  font-size: 3rem;
}

.keypad {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70%;
  padding: 5%;
  gap: 1rem;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20%;
  gap: 1rem;
}

.key {
  background-color: var(--white);
  width: 21%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.delete-key {
  background-color: var(--gray);
  width: 21%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.reset-key,
.answer-key {
  width: 47%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.answer-key {
  background-color: var(--red);
}

.reset-key {
  background-color: var(--gray);
}

.key:hover,
.delete-key:hover,
.answer-key:hover,
.reset-key:hover {
  cursor: pointer;
}
