/* Global Settings */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffcd9e;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 36px;
  padding-bottom: 28px;
}

input {
  padding: 10px;
  border: 4px solid #282828;
  border-radius: 4px;
  width: 344px;
}

a {
  text-decoration: none;
  color: white;
}

button {
  width: 216px;
  padding: 15px 15px;
  margin-left: 5px;
  background-color: #282828;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* First Container */
.container-1 {
  display: flex;
  justify-content: space-between;
  padding: 83px 136px;
}

.box-left + .box-right {
  flex: 1;
}

/* Left Box Designs */
.para {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 28px;
}

.bold-para {
  font-size: 20px;
  font-weight: 800;
  padding-bottom: 28px;
}

.box-left form input {
  font-weight: 700;
}

.no-spam {
  color: white;
  font-weight: 500;
  padding-top: 28px;
}

/* Right Box Designs */
.box-right img {
  height: 575px;
}

/* Second Container */
footer {
  padding: 80px;
  background-color: #282828;
  color: white;
}

.container-2 {
  display: flex;
  justify-content: space-between;
}

.box-btm-left + .box-btm-right {
  flex: 1;
}

.box-btm-left {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
}

.box-btm-left a {
  margin-bottom: 8px;
}

.box-btm-right {
  text-align: end;
  padding-right: 100px;
}

.socials a img {
  width: 28px;
}

.box-btm-right .credits a,
.box-btm-right .credits p,
.box-btm-right .credits .socials {
  margin-bottom: 8px;
}

.box-btm-right .credits .email-id {
  margin-bottom: 32px;
}
