/* Global Settings */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --bg-color: #8cc461;
  --rock-bg: #0074b6;
  --paper-bg: #bd00ff;
  --scissor-bg: #ffa943;
  --score-text: #656565;
  --bullet-color: #ffd600;
  --red-color: #ff0000;
  --rules-bg: #004429;
  --play-again-text: #6b6b6b;
  /* when picked */
  --ripple-bg: hsla(105, 64%, 34%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* APP */

body {
  background-color: #8cc461;
  font-family: "Roboto", sans-serif;
  font-size: medium;
  min-height: 100vh;
}

/* Title & Score */

.container {
  position: relative;
  max-width: 50%;
  margin: 0 auto;
  padding-top: 60px;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  border: 2px solid white;
  border-radius: 20px;
  padding: 20px;
}

/* Title */
.game-title {
  color: white;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 10px;
}

/* Score */
.score {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.computer {
  width: 160px;
  height: 170px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: none;
  border-radius: 10px;
}

.computer-title {
  font-size: 20px;
  font-weight: 500;
  color: var(--score-text);
  letter-spacing: 2px;
}

.computer-score {
  font-size: 90px;
  font-weight: 700;
}

.your {
  width: 160px;
  height: 170px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: none;
  border-radius: 10px;
}

.your-title {
  font-size: 20px;
  font-weight: 500;
  color: var(--score-text);
  letter-spacing: 2px;
}

.your-score {
  font-size: 90px;
  font-weight: 700;
}

/* Rock - Paper - Scissor */
.game {
  position: relative;
  padding: 40px;
}

.top-part {
  position: relative;
  display: flex;
  gap: 130px;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.middle-part {
  position: absolute;
  display: flex;
  z-index: -1000;
  left: 50%;
  transform: translateX(-50%);
}

.bottom-part {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding-top: 100px;
}

/* background of RPS */

.rps-card {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.rps {
  position: relative;
  width: 150px;
  height: 150px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* border of RPS */
.rock {
  border: 18px solid var(--rock-bg);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}

.scissors {
  border: 18px solid var(--scissor-bg);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}

.paper {
  border: 18px solid var(--paper-bg);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}

/* Line Settings */
.line {
  width: 300px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.64);
}

.top-line {
  position: absolute;
  width: 160px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.left-line {
  transform: translate(10%, 100%) rotate(60deg);
}

.right-line {
  transform: translate(-10%, 100%) rotate(-60deg);
}

/* RESULTS */
.hidden {
  display: none;
}

.results {
  position: relative;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-evenly;
  padding: 300px;
  padding-top: 80px;
}

.picked-item {
  cursor: pointer;
  position: relative;
}

.picked-item p {
  font-size: 20px;
  font-weight: 600;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  line-height: 6px;
  padding-bottom: 40px;
}

/* ANNOUNCEMENT of WINNER */
.announcement {
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 2px;
}

.announcement span {
  font-size: 40px;
  font-weight: 600;
}

.announcement p {
  padding-bottom: 20px;
}

/* WINNER */
.win-indicator.disabled {
  opacity: 0;
  pointer-events: none;
}

.win-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -75px;
}

.win-indicator div {
  position: absolute;
  box-sizing: border-box;
  /* border: 2px solid #fff; */
  border: none;
  background: var(--ripple-bg);
  border-radius: 100%;
  animation: animate 5s linear infinite;
  z-index: -1000;
  animation-delay: calc(0.5s * var(--ripple));
}

@keyframes animate {
  0% {
    width: 0px;
    height: 0px;
    opacity: 1;
  }

  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

/* play again button */
.play-again-btn {
  width: 170px;
  height: 40px;
  border: none;
  border-radius: 10px;
  color: var(--play-again-text);
  font-family: inherit;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
}

/* WINNERS PAGE */
.disabled-section {
  visibility: hidden;
  display: none;
}

.hurray {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.trophy {
  position: fixed;
  z-index: 10;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stars {
  position: fixed;
  z-index: 10;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -100;
}

.final-announcement {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 45%;
  gap: 30px;
  line-height: 1.5;
}

.final-announcement span {
  font-size: 100px;
  font-weight: 600;
  letter-spacing: 10px;
}
.final-announcement p {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 10px;
}

/* RULES & NEXT */
.rules-next {
  display: flex;
  justify-content: center;
  align-items: center;
}

.next-btn {
  position: absolute;
  bottom: 30px;
  right: 50px;
  background: transparent;
  font-family: inherit;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  border: 4px solid white;
  border-radius: 15px;
  width: 145px;
  height: 50px;
  cursor: pointer;
  text-align: center;
}

.next-btn:disabled {
  cursor: not-allowed;
  visibility: hidden;
}

/* RULES BUTTON */
.rules-btn {
  position: absolute;
  bottom: 30px;
  right: 50px;
  background: transparent;
  font-family: inherit;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  border: 4px solid white;
  border-radius: 15px;
  width: 145px;
  height: 50px;
  cursor: pointer;
  text-align: center;
}

/* RULES */
.rules {
  position: absolute;
  bottom: 100px;
  right: 50px;
  background-color: var(--rules-bg);
  padding: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 7px solid white;
  border-radius: 15px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.rules-box {
  height: 300px;
  width: 250px;
  position: relative;
}

.close-btn {
  width: 60px;
  height: 60px;
  background-color: var(--red-color);
  border: 5px solid white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -60px;
  top: -60px;
  cursor: pointer;
}

.rules-list ul {
  list-style: square;
  font-size: 14px;
}

.rules-list li::marker {
  color: var(--bullet-color);
  font-size: 18px;
}

/* Rules Text Settings */
.rules-title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}

.rules-list {
  font-weight: 400;
  line-height: 1.4;
}

.rules-list li {
  margin-bottom: 10px;
}

.view-rules {
  opacity: 1;
  pointer-events: initial;
}
