.container-reg-from {
  display: flex;
  height: 100vh;
}

/* LEFT CONTAINER */
.left-container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  align-items: center;
}

.left-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.left-container h1 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 55px;
  position: relative;
  bottom: 200px;
}

/* RIGHT CONTAINER */
.right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

.form-elements {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-elements h1 {
  font-family: "Single Day", cursive;
  color: var(--primary-green-color);
  font-size: 64px;
  font-weight: 400;
  text-align: center;
}

.form-elements .p1 {
  font-size: 24px;
  font-weight: 400;
  color: white;
  text-align: center;
  padding-bottom: 54px;
}

.form-elements input {
  height: 50px;
  padding: 14px;
  border-radius: 4px;
  border: none;
  background-color: var(--input-bg-color);
}

.form-elements .box-label {
  display: flex;
  align-items: center;
  gap: 10px;
  letter-spacing: 1.5px;
}

.form-elements .input-checkbox {
  display: flex;
  flex-direction: column;
}

.form-elements button {
  height: 50px;
  padding: 5px;
  border-radius: 28px;
  border: none;
  color: white;
  background-color: var(--primary-green-color);
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
}
